<br>
<section id="feature">
  <div class="col-md-12">
    <div id="girls">
      <% @girls.each do |girl| %>
        <div class="col-md-offset-2 col-md-8 card" style= "border: thick solid grey; background-color: pink;">
          <hr>
          <h1 style="text-align: center; font-size: 50px;"><%= girl.name %></h1><hr><br>
          <p style="font-size: 20px; color: black;"> <strong>Meaning and History: </strong><%= girl.meaning %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Pronunciation: </strong><%= girl.pronounced %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Related names/Variants: </strong><%= girl.related %></p><br>
          <p style="font-size: 20px; color: black;"> <strong>Popularity: </strong><%= girl.popularity %></p><br>
        </div>
        <div class="row">
          <div class="container-fluid" style="justify-content: center; clear:both; width: 400px;">
            <%= link_to girl_names_path(page: (@page.to_i + 1)) do %>
              <i class="ion-ios-close-outline" style='color:red'></i>
            <% end %>
            <%= link_to girl_names_path(page: (@page.to_i + 1)) do %>
              <i class="ion-ios-checkmark-outline pull-right" style='color: green'></i>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</section>
