<br>
<section id="feature">

  <div class="col-md-12 tab-content">
    <ul class="nav nav-tabs col-md-offset-2 col-md-8">
      <li class="active"><a data-toggle="tab" href="#boys" style="color: blue;">Boys</a></li>
      <li><a data-toggle="tab" href="#girls" style="color: rgba(242, 39, 234, 0.6);">Girls</a></li>
    </ul>

    <div id="boys" class="tab-pane fade in active">
      <% @boys.each do |boy| %>
        <div class="col-md-offset-2 col-md-8 card" style= "border: thick solid grey; background-color: rgba(25, 136, 250, 0.66);">
          <hr>
          <h1 style="text-align: center; font-size: 50px;"><%= boy.name %></h1><hr><br>
          <p style="font-size: 20px; color: black;"> <strong>Meaning and History: </strong><%= boy.meaning %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Pronunciation: </strong><%= boy.pronounced %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Related names/Variants: </strong><%= boy.related %></p><br>
          <p style="font-size: 20px; color: black;"> <strong>Popularity: </strong><%= boy.popularity %></p><br>
        </div>
        <div class="row">

          <div class="container-fluid" style="justify-content: center; clear:both; width: 490px;">
            <i class="ion-ios-close-outline" style='color:red'></i>
            <i class="ion-ios-checkmark-outline pull-right" style='color: green'></i>
          </div>
        </div>
        <br>
      <% end %>
    </div>

    <div id="girls" class="tab-pane fade">
      <% @girls.each do |girl| %>
        <div class="col-md-offset-2 col-md-8 card" style= "border: thick solid grey; background-color: pink;">
          <hr>
          <h1 style="text-align: center; font-size: 50px;"><%= girl.name %></h1><hr><br>
          <p style="font-size: 20px; color: black;"> <strong>Meaning and History: </strong><%= girl.meaning %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Pronunciation: </strong><%= girl.pronounced %></p><br>
          <p style="font-size: 20px; color: black;"><strong>Related names/Variants: </strong><%= girl.related %></p><br>
          <p style="font-size: 20px; color: black;"> <strong>Popularity: </strong><%= girl.popularity %></p><br>
        </div>
        <div class="row">

          <div class="container-fluid" style="justify-content: center; clear:both; width: 490px;">
            <i class="ion-ios-close-outline" style='color:red'></i>
            <i class="ion-ios-checkmark-outline pull-right" style='color: green'></i>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</section>
