<!DOCTYPE html>
<html>
  <head>
    <title>NaMie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>

   </head>

   <body>

     <!-- Navigation Bar -->
     <nav class="navbar navbar-fixed-top navbar-inverse">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">NaMie</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <form class="navbar-form navbar-right">
             <div class="input-group">
               <input type="text" class="form-control" placeholder="Search">
             </div>
             <div style="clear: both;"></div>
           </form>
           <ul class="nav navbar-nav navbar-right">
             <li><span style="color: white; position: relative; top: 15px;">&nbsp;&nbsp;&nbsp;Hello, Friend!&nbsp;&nbsp;&nbsp; </li></span>
             <li><a href="/about">Link Accounts</a></li>
             <li><a href="/contact">Matches</a></li>
             <li><a href="/contact">Favorites</a></li>

             <li><a href="/sessions" data-method = "delete">Sign Out</a></li>

             <li><a href="/sessions/new">Log In</a></li>
             <li><a href="/users/new">Sign Up</a></li>

           </ul>


           <ul class="nav navbar-nav bottom-nav">
             <li> <%= link_to 'Start Matching', remote: true %></li>
           </ul>
         </div><!-- /.navbar-collapse -->
       </div><!-- /.container-fluid -->
     </nav><br><br><br>


    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>


    <%= yield %>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-icon">
    <!-- email -->
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- facebook -->
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- instagram -->
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- medium -->
      <i class="fa fa-medium fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- twitter -->
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</footer>

</body>
</html>
