<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>NaMie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

            <!-- Basic Page Needs
            ================================================== -->
            <meta charset="utf-8">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <link rel="icon" type="image/png" href="images/favicon.png">
            <title>NaMie</title>
            <meta name="description" content="">
            <meta name="keywords" content="">
            <meta name="author" content="">

   </head>

   <body>

     <header id="top-bar" class="navbar-fixed-top animated-header">
         <div class="container">
             <div class="navbar-header">
                 <!-- responsive nav button -->
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 </button>
                 <!-- /responsive nav button -->

                 <!-- logo -->
                 <div class="navbar-brand" style="position: absolute; top:-35px; left:0">
                     <a href="/" >
                         <!-- <img src="assets/images/logo.png"> -->
                         <%= image_tag('namie.png', size: '140x140') %>
                     </a>
                 </div>
                 <!-- /logo -->
             </div>
             <!-- main menu -->
             <nav class="collapse navbar-collapse navbar-right" role="navigation" style="font-family: Acme;">
                 <div class="main-menu">
                     <ul class="nav navbar-nav navbar-right">
                         <li>
                             <a href="/" >Home</a>
                         </li>
                         <li><%= link_to "Names", names_path %></li>
                         <li><%= link_to "Matches", matches_path %></li>
                         <li><%= link_to "Link Account", new_partnership_path %></li>
                         <% if user_signed_in? %>
                         <% current_user = User.find_by_id session[:user_id] %>

                           <li><%= link_to 'Log Out', sessions_path, method: :delete %></li>
                         <% else %>
                           <li><a href="/users/new">Sign Up</a></li>
                           <li><a href="/sessions/new">Log In</a></li>
                         <% end %>
                     </ul>
                 </div>
             </nav>
             <!-- /main nav -->
         </div>
     </header>


    <% if flash[:notice] %>
      <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>

    <div class='container'>
      <%= yield %>
    </div><br><br><br><br><br>
    <!-- ==================================================
    Footer Section Start
    ================================================== -->
    <footer id="footer">
        <div class="container">
            <div class="col-md-8">
                <p class="copyright">Copyright: <span>2017</span> . Designed and Developed by Josh Gamble</p>
            </div>
            <div class="col-md-4">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/CunningLinguist83" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GamblesGames" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/josh-gamble" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/VGElites" class="Google Plus">
                            <i class="ion-social-googleplus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> <!-- /#footer -->

</body>
</html>
